/* ============================
   NEXT SECTION PLACEHOLDER
   ============================ */

   .next-section-placeholder {
    width: 100%;
    height: 100vh;
    background: #EAF3FF; /* light blue */
    position: relative;
    z-index: 1;
  }
  